.asection i:hover {
    color: rgba(255, 105, 0, 1);
}

.div3 {
    width: 98%;
    height: 400px;
    background-color: rgb(208, 220, 220);
    margin-top: -90px;
    border-radius: 15px;
}

.aboutcard {
    width: 98%;
    height: 430px;
    /* background-color: rgb(208, 220, 220); */
    text-align: center;
    padding: 4px;
    margin-top: -90px;
    border-radius: 15px;
    margin-bottom: 105px;
}
@media screen and (max-width: 992px) {
	.navbar-nav.ms-auto{
        text-align: center !important;
    }
  }
.aboutcard img {
    width: 132px;
    height: 106px;
    margin-top: 50px;
}

.aboutbg1 {
    background-color: rgb(234, 255, 234);
}

.aboutbg2 {
    background-color: rgb(246, 246, 246);
}

.aboutbg3 {
    background-color: rgb(216, 255, 235);
}

/* .aboutcard h4{
    text-align: center;
    padding: 4px;
} */

.bred-margin {
    margin-top: 55px;
}

.btn-purple-moon {
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    padding: 14px 28px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #ffffff;
    transition: all 0.4s ease-in-out;
}

.btn-purple-moon:hover {
    color: #fff;
    background: linear-gradient(to left, #8f94fb, #4e54c8);
}

.check_b {
    height: 25px;
    width: 25px;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 100%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 90%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2.8;
}

.circle {
    fill: none;
    stroke-width: 1.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.org .circle {
    stroke: #ff9f00;
}

.circular-chart.grn .circle {
    stroke: #4cc790;
}

.circular-chart.blu .circle {
    stroke: #3c9ee5;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.srvice-head {
    height: 180px;
}

.services-bg {
    background-color: rgb(255, 255, 255);
}

.service-card {
    width: 98%;
    height: 400px;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
}

.service-card img {
    width: 132px;
    height: 106px;
    margin-top: 50px;
}

.dott {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    color: white;
}

.dotmove {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px 6px;
    position: relative;
}

.red {
    background-color: rgba(255, 105, 0, 1);
    margin-left: 20px;
    animation-name: red1;
    animation-fill-mode: reverse;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

.blue {
    background-color: rgb(29, 50, 190);
    margin-left: 100px;
    animation-name: blue1;
    animation-fill-mode: forwards;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

.green {
    background-color: rgba(45, 149, 19, 0.854);
    margin-left: 300px;
    animation-name: green1;
    animation-fill-mode: forwards;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
}

.yellow {
    background-color: rgb(255, 202, 27);
    margin-left: 300px;
    animation-name: yellow1;
    animation-fill-mode: forwards;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 4;
}

.pink {
    background-color: rgb(255, 0, 170);
    margin-left: 400px;
    animation-name: pink1;
    animation-fill-mode: forwards;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
}

@keyframes red1 {
    from {
        top: 610px;
    }

    to {
        top: 0px;
    }
}

@keyframes green1 {
    from {
        top: 610px;
    }

    to {
        top: 0px;
    }
}

@keyframes blue1 {
    from {
        top: 610px;
    }

    to {
        top: 0px;
    }
}

@keyframes yellow1 {
    from {
        top: 610px;
    }

    to {
        top: 0px;
    }
}

@keyframes pink1 {
    from {
        top: 610px;
    }

    to {
        top: 0px;
    }
}

.icons i,
.icons svg {
    color: #5747e4;
}

.text-brand {
    color: #5747e4;
}

.text-brand a {
    text-decoration: none;
}

.blog-card {
    width: 98%;
    height: 520px;
    padding: 4px;
    border-radius: 15px;
}

.blog-card img {
    margin-top: 50px;
    border-radius: 6%;
    height: 266px;
}

.blog-home-card {
    width: 100%;
    /* height: 470px; */
    padding: 4px;
    border-radius: 15px;
}

.blog-home-card img {
    margin-top: 50px;
    border-radius: 6%;
    height: 272px;
}

.blue-tick img {
    width: 35px;
    height: 35px;
    margin-right: 18px;
}

.cinline {
    display: flex;
}

.home-head {
    height: 180px;
}

.home-bg {
    background-color: rgb(255, 255, 255);
}

.home-card {
    width: 98%;
    height: 370px;
    text-align: center;
    padding: 4px;
    border-radius: 50px 17px 50px 17px;
    margin-top: 15px;
    transition: all 0.1s ease-in-out 0.1s;
}

.home-card img {
    width: 132px;
    height: 106px;
    margin-top: 50px;
}

.home-card:hover {
    border-radius: 17px 50px 17px 50px;
    /* -webkit-transition: width 1s;
    transition: width 1s; */
}

.home-background {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-orange-moon {
    background-color: rgba(255, 105, 0, 1);
    color: #fff;
    padding: 10px;
    border-radius: 3px solid #eee;
    font-size: small;
}

.btn-orange-moon:hover {
    background-color: #fff;
    color: rgba(255, 105, 0, 1);
    border-radius: 4px solid rgba(255, 105, 0, 1);
    border-color: rgba(255, 105, 0, 1);
}

.btn-plp-moon {
    background-color: #6254e7;
    color: #fff;
    padding: 10px;
    border-radius: 3px solid #eee;
    font-size: small;
}

.btn-plp-moon:hover {
    background-color: #fff;
    color: #6254e7;
    border-radius: 4px solid #6254e7;
    border-color: #6254e7;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 65%);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 105, 0, 1);
}

.heading-title {
    font-family: "Rubik", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1em;
    --textgradient_color1: #3789e6;
    --textgradient_color2: #e180b0;
    background-image: linear-gradient(
        75deg,
        var(--textgradient_color1),
        var(--textgradient_color2) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tel {
    color: #3b3663;
    font-family: "Nunito", Sans-serif;
    font-size: 34px;
    font-weight: 900;
    text-decoration: none;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.irow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.irow-space {
    /* -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify; */
    justify-content: space-between;
}

.col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
    .circular-chart {
        max-width: 38%;
    }
}

.p-t-20 {
    padding-top: 20px;
}

/* .p-b-100 {
    padding-bottom: 100px;
  } */

input {
    outline: none;
    margin: 0;
    border: none;
    width: 100%;
    font-size: 14px;
    background-color: #f8f9fa;
}

textarea {
    outline: none;
    margin: 0;
    border: none;
    width: 100%;
    font-size: 14px;
    background-color: #f8f9fa;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

/* .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  } */

.input--style-1 {
    padding: 9px 0;
    color: #555;
}

.icard-1 .icard-body {
    padding: 0 90px;
    padding-top: 55px;
    padding-bottom: 65px;
}

@media (max-width: 767px) {
    .icard-1 .icard-body {
        padding: 0 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

footer ul {
    line-height: 31px;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    color: rgba(255, 105, 0, 1);
    text-decoration: none;
}

.asection i:hover {
    background-color: rgba(255, 105, 0, 1);
}

/* date picker */
.ydot {
    height: 25px;
    width: 25px;
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
    display: inline-block;
}

.hov {
    padding-top: 17px;
    padding-left: 10px;
    width: 330px;
    height: 178px;
    border-top: 1px solid rgb(198, 198, 198);
    margin-left: 55px;
}

.hov:hover {
    background-color: rgb(217, 217, 217);
}

@media only screen and (max-width: 600px) {
    .hidee {
        display: none;
    }
}

/* date-picker end */

.testimonial-head {
    height: 180px;
}

.testimonial-bg {
    background-color: rgb(255, 255, 255);
}

.testimonial-card {
    width: 75%;
    height: 390px;
    text-align: center;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px 17px 50px 17px;
}

.testimonial-card img {
    width: 64px;
    height: 52px;
    margin-top: -28px;
}

.my-image-text {
    position: absolute;
    top: 30%;
    left: 61%;
}

.h-bold {
    color: #fff;
    font-family: "Rubik", Sans-serif;
    font-size: 106px;
    font-weight: 700;
    line-height: 105px;
    margin: -30px 0px 19px 0px;
}

/* shrink home image */

.shrink-img {
    animation: shrink-img 7s infinite;
}

@keyframes shrink-img {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.play-btn {
    color: white;
    margin-left: 20px;
}

.play-btn-right {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
}

.carousel-item img {
    width: 580px;
    height: 550px;
    border-radius: 17px 100px 17px 100px;
}

.item1-img {
    width: 580px !important;
    height: 550px;
    border-radius: 17px 100px 17px 100px;
}

/* case studies */

.gallery {
    min-height: 100vh;
    padding-bottom: 100px;
}

.gallery .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.gallery .controls .buttons {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    margin: 5px 0px 0px 25px;
}

.gallery .controls .buttons:hover {
    background: #f48a00;
    color: #fff;
    border-radius: 25px;
}

.gallery .controls .buttons.active {
    background: #f48a00;
    color: #fff;
    border-radius: 40px;
}

.gallery .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image {
    height: 250px;
    width: 350px;
    overflow: hidden;
    /* border: 15px solid #fff; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.gallery .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img {
    transform: scale(1.4);
    transition: all 0.2s cubic-bezier(0.34, 1.12, 0.68, 1.31);
}

.page-top {
    position: fixed;
    bottom: 32px;
    right: 16px;
    z-index: 100;
    transition: top 0.5s, bottom 0.5s;
    border: 2px solid orange;
    padding: 0px 14px;
    border-radius: 8px;
    color: #f48a00;
    font-size: 30px;
}

.page-top a {
    color: orange;
    text-decoration: none;
}

.page-top a:hover {
    background: #f48a00;
    color: rgb(255, 255, 255) !important ;
}
.page-top:hover {
    background: #f48a00;
    color: rgb(255, 255, 255) !important ;
}
.number_404 {
    font-size: 400px;
    line-height: 0.75;
}

/* home slider our case */
:root {
    --swiper-theme-color: #ff2c2c;
}

.swiper {
    width: 68%;
    height: 190px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* object-fit: cover; */
}

.p-upper {
    color: #696687;
    font-size: 16px;
    line-height: 1.7em;
}

p {
    line-height: 25px;
}

h6 {
    /* color: #696687; */
    color: #3b3663;
    font-family: Nunito;
    font-weight: 550;
    font-size: 14.5px;
}

h1 {
    font-family: Nunito;
    font-weight: 800;
    color: #fff;
    font-size: 40px;
}

.case-h {
    font-family: Nunito;
    font-weight: 800;
    color: #3b3663;
    font-size: 40px;
}

h2 {
    /* font-family: Nunito !important; */
    color: #3b3663 !important;
    font-weight: 800 !important;
}

h5 {
    font-size: 20px;
    font-weight: 550;
    color: #3b3663;
    line-height: 30px;
}

h4 {
    /* font-family: Nunito; */
    /* font-family: Rubik; */
    font-weight: 900;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0px;
}

.hc-img {
    height: 195px;
}

.link-active {
    color: #f48a00 !important;
}

.item2 {
    height: 196px;
}

.item1-img {
    width: 523px !important;
    height: 539px;
    border-radius: 17px 100px 17px 100px;
}

.item1 {
    width: 523px !important;
    height: 539px;
    border-radius: 17px 100px 17px 100px;
}

.er {
    font-weight: 400;
    padding-bottom: 5px;
    color: #d61d1d;
    font-size: 12px;
    margin-top: -5px;
}

.n404 {
    font-size: 400px;
    line-height: 0.75;
}

.planet_404_wrapper {
    position: relative;
    width: 1em;
    line-height: 0;
    margin: -0.31em -0.04em 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(27deg);
}

.planet_404_wrapper,
.wrapper_404:before {
    display: inline-block;
    vertical-align: middle;
}

.planet_404_front {
    z-index: 10;
}

.planet_404_ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/planet-ring.46744912.png);
    background-size: cover;
    -webkit-transform: rotateX(80deg) scaleX(1.1) scaleY(3);
    transform: rotateX(80deg) scaleX(1.1) scaleY(3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-animation: rotate_circle 1s linear infinite;
    animation: rotate_circle 1s linear infinite;
}

.planet_404_back {
    top: calc(50% - 2px);
    height: calc(40% + 2px);
    z-index: 1;
}

.planet_404_back,
.planet_404_front {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 40%;
    overflow: hidden;
}

.single-post-img {
    width: 100%;
    /* height: 400px; */
    border-radius: 8px;
    margin-bottom: 30px;
}

.single-post-div {
    width: 600px;
    height: 350px;
    border: 2px solid red;
}

.single-post-side-img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.single-post-ads {
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.single-post-h4 {
    color: #3b3663;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 20px;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform 0.7s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.1);
}

.single-blog a {
    text-decoration: none;
    color: #696687;
    font-size: 16px;
}

.single-blog a:hover {
    color: #6254e7;
}

.single-post-p p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #696687;
}


.blogpost li{
    list-style: none;
    color: #696687;
    font-size: 18px;
  }
  
  
  .blogpost li::before {
    margin-left: -30px;
    content: "• ";
    color: #6254E7;
    font-size: 22px;
  }
  
  .single-post-p p{
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
      color: #696687;
  }
  
  .single-post-p ul li{
      font-size: 15px;
      line-height: 27px;
      color: #696687;
      list-style: none;
  }
  
  .single-post-p ul li::before {
    margin-left: -30px;
    content: "• ";
    color: #6254E7;
    font-size: 22px;
  
  }
  
  .single-post-p h3{
      color: #3b3663;
  }
  
  .single-post-p h1{
    color: #3b3663;
}

  .single-post-p ol li{
      color: #696687;
  }
  
